
* {
  padding: 0;
  border: none;
  margin: none;
  outline: none;
  color: white;
  font-family: sans-serif, Arial;
}

body {
  /*background: url(coding-images/background.jpg) no-repeat;*/
  background-size: cover;
  background-position: center;
}

:root {
  --bg: rgba(218, 119, 218, 0.6);
  --bg--1: rgba(76, 139, 76, 0.8);
  --bg--yellow: rgba(231, 231, 119, 0.6);
  --bg--blue: rgba(112, 112, 187, 0.6);
  --bg--orange: rgba(247, 186, 74, 0.6);
}

h1 {
  font-size: 200px;
  margin: 0;
}

header {
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(28, 63, 28);
  z-index: 100;
}

.web-body {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  /*background: rgba(0, 0, 0, 0.4);*/
}

section {
  min-height: 550px;
}

.hero {
  background: url(coding-images/coding-hero.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  border: 5px solid rgba(37, 71, 37, 1);
}

.hero-box {
  width: 100%;
  height: 100%;
}

.hero-title {
  width: 50%;
  height: 100%;
  float: right;
  padding: 2%;
  margin-top: 5%;
}

.intro {
  background: rgb(139, 219, 139);
  min-height: 350px;
  display: flex;
  justify-content: center;
}

.intro-box {
  width: 80%;
  height: 90%;
  text-align: center;
}

h2 {
  font-size: 100px;
  margin-bottom: 0;
}

.content-1, .content-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-1 {
  margin: 50px 0 0 0;
}

.content-2  {
  margin: 50px 0;
}

.content-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.content-theme {
  width: 75%;
  height: 10%;
  background: orange;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
  box-shadow: 2px 2px 5px black;
}

.content-box {
  width: 80%;
  height: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1%;
}

.column-1 {
  background: linear-gradient(var(--bg--yellow) 50%, var(--bg) 50%);
}

.column-2 {
  background: linear-gradient(var(--bg--orange) 50%, var(--bg) 50%);;
}

.column-3 {
  background: linear-gradient(var(--bg--blue) 50%, var(--bg) 50%);;
}

.column-4 {
  background: linear-gradient(var(--bg--blue) 50%, var(--bg--1) 50%);;
}

.column-5 {
  background: linear-gradient(var(--bg--yellow) 50%, var(--bg--1) 50%);;
}

.column-6 {
  background: linear-gradient(var(--bg--orange) 50%, var(--bg--1) 50%);;
}

.column-1, .column-2, .column-3, .column-4, .column-5, .column-6 {
  height: 550px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px black;
}

.web-layout {
  width: 60%;
  height: 80%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  min-height: 200px;
  background: rgb(28, 59, 28);
}

@media (max-width: 1250px) {
  h1 {
    font-size: 150px;
  }

  h2 {
    font-size: 80px;
  }
}

@media (max-width: 1024px) {
  .hero-title {
    width: 100%;
    text-align: center;
    margin-top: 10%;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }

  .content-box {
    flex-direction: column;
    gap: 20px;
  }

  .column-1, .column-2, .column-3, .column-4, .column-5, .column-6 {
    width: 100%;
    min-height: 900px;
  }

  .web-layout {
    width: 90%;
    height: 90%;
  }
}