
* {
  border: none;
  margin: none;
  outline: none;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, Arial;
  line-height: 1cm;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  scroll-behavior: smooth;
}

:root {
  --bg: rgba(51, 100, 49, 0.8);
  --bg--1: rgb(142, 209, 142);
  --bg--2: rgb(206, 245, 174);
}

body {
  font-size: 15px;
  text-align: left;
  background: var(--bg);
}

a, i {
  color: white;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: rgb(40, 95, 40);
  height: 50px;
  z-index: 100;
}

header .header-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-box div {
  width: 100%;
  text-align: center;
}

.header-box a:hover {
  color: cyan;
}

.menu-section {
  background: rgb(72, 107, 72);
  width: 50%; 
  height: 100%;
  position: fixed;
  z-index: 200;
  bottom: 0;
  left: 0;
  top: 50px;
  display: none;
}

.show {
  display: block;
}

.menu-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.menu-header {
  border-bottom: 1px solid white;
}

.menu-box .search-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-box input {
  padding: 5px 10px;
  border-radius: 10px;
  margin-top:10px;
  width: 80%;
  color: black;
}

.menu-box .search-form div {
  border: 1px solid white;
  padding: 5px;
  border-radius: 10px;
  margin-top: 8px;
  cursor: pointer;
}

.menu-box .search-form div:hover i {
  color: cyan;
}

.menu-box i {
  font-size: 20px;  
}

.menu-section h1 {
  text-align: center;
  color: cyan;
}

.menu-icon:hover {
  color: cyan;
  cursor: pointer;
}

.menu-icon-box i {
  font-size: 20px;
}

.web-body {
  min-width: 100%;
  min-height: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

section {
  min-height: 550px;
}

.home-section {
  background: url("images/hero-image.jpg") no-repeat;
  margin-top: 0;
  background-position: center;
  background-size: cover;
}

.about-section .reveal {
  display: flex;
  flex-direction: column;
}

.about-section {
  background: linear-gradient(to left, var(--bg--1) 20%,  white 20%, white 60%);
}

.about-section span h1 {
  font-size: 80px;
  margin: 0;
  margin-bottom: 10%;
  text-wrap: nowrap;
}

.about-box {
  height: 550px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-image-box {
  display: flex;
  width: 50%;
}  

.about-image {
  width: 60%;
  height: 300px;
  margin-left: 20%;
}

.about-empty {
  background: var(--bg);
  width: 25%;
  height: 300px;
  margin-left: 2%;
}

.about-box img {
  height: 100%;
  width: 100%;
}

.about-para {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  border-bottom: 2px solid black;
}

.service-section {
  min-height: 100%;
}

.service-section h1 {
  font-size: 80px;
  margin: 10% 0 10% 10%;
}

.service-inside {
  background: linear-gradient(to right, var(--bg) 30%, var(--bg--2) 10%, var(--bg--2) 60%);  
  height: 100%;
  width: 100%;
}

.service-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 500px;
  margin-bottom: -5%;
  width: 100%;
}

.service-image-box {
  margin-left: 20%;
  width: 25%;
  display: flex;
  flex-direction: column;
}

.service-image-child {
  display: flex;
  gap: 2%;
  padding: 2%;
  background: white;
}

.service-image-top {
  height: 180px;
  background: white;
  padding: 2%;
  padding-bottom: 0;
}

.service-image {
  width: 49%;
  height: 180px;
}

.service-box img {
  height: 100%;
  width: 100%;
}

.service-empty {
  background: var(--bg--2);
  height: 100px;
}

.service-para {
  padding: 30px 5px;
  background: var(--bg--1);
  width: 40%;
  height: 50%;
}

.service-section p {
  margin-left: 10%;
}

.contact-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, var(--bg--1) 10%, white 10%, white 80%);
}

.contact-image {
  width: 50%;
  height: 100%;
}

.contact-image img {
  width: 100%;
  height: 100%;
}

.contact-box {
  margin-left: 20%;
} 

.contact-box h1 {
  font-size: 80px;
}

.contact-box a {
  color: black;
}

.contact-box a:hover {
  font-size: 20px;
}

footer {
  background: rgb(25, 54, 25);
  min-height: 300px;
}

.footer-box {
  width: 100%;
  height: 100%;
}

.footer-para {
  margin-top: 50px;
  color: white;
  width: 100%;
  height: 100%;
}

.back-to-top {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
  width: 100%;
}

.back-to-top a {
  text-align: center;
  margin-left: 8px;
}

.footer-para {
  text-align: center;
}

.footer-para a {
  margin-right: 10px;
}

.message {
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 50px;
  width: 50px;
  background: pink;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  padding: 5px;
  align-items: self-start;
}

.appear-message {
  cursor: pointer;
}

.message i {
  font-size: 45px;
  margin-top: 4px;
}

.message-form {
  min-width: 350px;
  min-height: 150px;
  position: absolute;
  right: 105%;
  background: green;
  padding: 10px;
  bottom: 50px;
  border-radius: 10px;
  display: none;
}

.message .appear { display: block;}

.message .appear-out { display: block;}

.message-form form {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.message-form form input, form textarea {
  padding: 5px 10px;
}

@media (max-width: 1024px) {
  .about-section span h1 {
    font-size: 50px;
    margin-top: 20%;
  } 

  .about-box {
    flex-direction: column;
    justify-content: center;
  }

  .about-image-box {
    flex-direction: row;
    width: 50%;
    height: 100%;
    margin-top: 5%;
  }

  .about-image {
    width: 78%;
    height: 200px;
    margin-left: 0%;
  }

  .about-empty {
    width: 20%;
    height: 200px;
  }

  .about-para {
    margin-left: 0%;
    border-bottom: none;
  }

  .service-section h1 {
    font-size: 50px;
  }

  .service-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  .service-image-box {
    margin-left: 0%;
    width: 50%;
    margin-top: 5%;
    order: 2;
  }

  .service-image-top {
    height: 150px;
  }

  .service-image {
    height: 150px;
  }

  .service-para {
    width: 50%;
    margin-top: 10%;
    order: 1;
  }

  .contact-section {
    flex-direction: column;
    justify-content: center;
  }

  .contact-box {
    margin-left: 0%;
  } 

  .contact-box h1 {
    font-size: 50px;
  }
} 

@media (max-width: 650px) {
  * {
    text-align: center;
    font-size: 13px;
  }

  .menu-section {
    width: 100%;
  }

  .menu-icon-box div i {
    font-size: 20px;
  }

  .home-section {
    background-position: 95%;
  }

  .about-section {
    background: white;
  }

  .about-section span h1 {
    margin-top: 10%;
    margin-bottom: 5%;
  }

  .about-empty {
    display: none;
  }

  .about-image-box {
    width: 95%;
  }

  .about-image {
    width: 100%;
  }

  .about-para {
    width: 95%;
  }

  .about-image, .about-empty {
    height: 250px;
  }

  .service-inside {
    background: white;  
  }

  .service-section h1 {
    margin-left: 0;
    margin-bottom: 5%;
  }

  .service-image-box {
    width: 95%;
  }

  .service-image, .service-image-top {
    height: 150px;
  }

  .service-image-top {
    width: 100%;
  }

  .service-image-top, .service-image-child {
    padding-left: 0;
    padding-right: 0;
  }

  .service-para {
    padding: 0 10px;
    width: 90%;
  }

  .service-section p {
    margin-left: 0%;
  }

  .service-empty {
    display: none;
  }

  .contact-section {
    background: white;
  }

  .contact-section a {
    color: black;
  }

  .contact-image {
    width: 95%;
    height: 250px;
  }

  footer p, footer svg path {
    color: white;
  }

  .message {
    right: 5%;
    bottom: 5%;
  }
  
  .message-form {
    min-width: 300px;
    min-height: 150px;
    right: 0;
    bottom: 105%;
  }

  .message-form input, .message-form textarea {
    text-align: left;
  }
}

@media (max-width: 345px) {
  .message-form {
    min-width: 100px;
  }
}

/*.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: transform 1s ease;
}*/

.active {
  transform: translateY(0px);
  opacity: 1;
}